$fuentePrincipal: "Roboto", sans-serif;
$fuenteHeading: "Raleway", sans-serif;

// Colores
$primario: #80BCBD;
$secundario: #AAD9BB;
$terciario: #D5F0C1;
$yellow: #F9F7C9;
$blanco: #FFFFFF;
$negro: #000000;

// Breakpoints
$telefono: 576px;
$tablet: 768px;
$desktop: 992px;
$desktop-xxl: 1200px;