@use '../base/variables' as v;
@use '../base/mixins' as m;

.authentication {

    &__profile-photo {
        margin-block: 2.5rem;
    }

    &__profile-img {
        height: 130px;
        width: auto;
        cursor: pointer;
    }

    &__profile-hidden {
        display: none;
        visibility: none
    }
}